<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511180621388-f2fjp7uf78jdafrag3au101sfsf4v05u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511180621388-f2fjp7uf78jdafrag3au101sfsf4v05u</string>
	<key>API_KEY</key>
	<string>AIzaSyDIE4T3pDMSUDZMvCU87b6SLxkt5lb8zyY</string>
	<key>GCM_SENDER_ID</key>
	<string>511180621388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartdata.radar</string>
	<key>PROJECT_ID</key>
	<string>radar-34472</string>
	<key>STORAGE_BUCKET</key>
	<string>radar-34472.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511180621388:ios:e66cf3522537cdee4556e9</string>
	<key>DATABASE_URL</key>
	<string>https://radar-34472.firebaseio.com</string>
</dict>
</plist>